@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');


body {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

:root {
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
}

.navbar {
    padding: 30px 30px;
    font-size: 15px;
    color: --white;
}

.btn {
    color: var(--gray);
    font-weight: bolder;
}

.btn:hover {
    color: var(--black);
}


h1 {
    font-weight: bolder;
    font-size: 5em;
    color: var(--black);
    line-height: 0.8;
}

.hero-text {
    padding-bottom: 50px;
}

p{
   font-weight: bold;
}

.wrapper {
    margin-top: 100px;
}

.wrapper2 {
    padding-right: 30px;
    max-height: 800px;
}

.hero-image {
    max-height: 100%;
}

.attribution {
    position:sticky;
    bottom: 0;
    background: var(--white);
    padding: 5px;
}



@media (min-width: 1399px) {
    h1 {
        font-weight: bolder;
        font-size: 4em;
        color: var(--black);
        line-height: 0.8;
    }
    
    .hero-text {
        padding-bottom: 50px;
    }
    
    p{
       font-weight: bold;
       font-size: 16px;
    }
    
    .wrapper {
        margin-top: 100px;
    }
    
    .wrapper2 {
        max-height: 800px;
        max-width: 100%;
    }
    
    .hero-image-desktop {
        padding-left: 50px;
        max-height: 100vh;
        margin: auto;
    }
    
    .hero-image-mobile {
        display: none;
    }

    .attribution {
        position:sticky;
        bottom: 0;
        background: var(--white);
        padding: 5px;
    }
}   


@media (max-width: 1199px) {
    h1 {
        font-weight: bolder;
        font-size: 3em;
        color: var(--black);
        line-height: 0.8;
    }
    
    .hero-text {
        padding-bottom: 50px;
    }
    
    p{
       font-weight: bold;
       font-size: 16px;
    }
    
    .wrapper {
        margin-top: 100px;
    }
    
    .wrapper2 {
        max-height: 800px;
        max-width: 100%;
    }
    
    .hero-image {
        padding-left: 50px;
        max-height: 100%;
    }

    .hero-image-mobile {
        display: none;
    }
    
    .attribution {
        position:sticky;
        bottom: 0;
        background: var(--white);
        padding: 5px;
    }
}   

@media (max-width: 990px) {
    .mobile-row {
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .mobile-order-1 {
        order: 1;
    }

    .mobile-order-2 {
        order: 2;
    }

    h1 {
        font-weight: bolder;
        font-size: 3em;
        color: var(--black);
        line-height: 0.8;
    }
    
    p{
       font-weight: bold;
       font-size: 16px;
    }

    .hero-text {
        padding-bottom: 50px;
    }

    .hero-image-desktop {
        padding-left: 50px;
        height: 100%;
        padding: 50px;
        display: none;
        line-height: 2;
    }

    .hero-image-mobile {
        display: block;
        padding: 50px;
    }
    
    
    
}   

.attribution {
    position:sticky;
    bottom: 0;
    background: var(--white);
    padding: 5px;
}