@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');


body {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

:root {
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
}

.navbar {
    padding: 30px 30px;
    font-size: 15px;
    color: --white;
}



h1 {
    font-weight: bolder;
    font-size: 5em;
    color: var(--black);
    line-height: 0.8;
}

.hero-text {
    padding-bottom: 50px;
}

p{
   font-weight: bold;
}

.wrapper {
    margin-top: 100px;
}

.wrapper2 {
    padding-right: 30px;
    max-height: 800px;
}

.hero-image {
    max-height: 100%;
}

.attribution {
    position:sticky;
    bottom: 0;
    background: var(--white);
    padding: 5px;
}

.btn {
    color: var(--gray);
    font-weight: bolder;
}

.btn:hover {
    color: var(--black);
}